{% extends "base.html" %}

{% block title %}ErrorMate{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock %}

{% block content %}
<div class="row g-4 justify-content-center">
  <div class="col-10 col-md-5 col-lg-4">
    <a href="{{ url_for('step_card.list_cards') }}" class="card yellow d-flex align-items-center justify-content-center">ステップカード一覧</a>
  </div>
  <div class="col-10 col-md-5 col-lg-4">
    <a href="{{ url_for('share.share_card_library') }}" class="card blue d-flex align-items-center justify-content-center">カードライブラリ</a>
  </div>
  <div class="col-10 col-md-5 col-lg-4">
    <a href="{{ url_for('help.create_help_card') }}" class="card gray d-flex align-items-center justify-content-center">ヘルプ要求カード</a>
  </div>
  <div class="col-10 col-md-5 col-lg-4">
    <a href="{{ url_for('personal.data_error_count') }}" class="card green d-flex align-items-center justify-content-center">個人分析</a>
  </div>
</div>
{% endblock %}