    {% extends "base.html" %}

    {% block title %}ステップカード一覧 | ErrorMate{% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stepcard.css') }}">
    {% endblock %}

    {% block content %}
    <section id="screen-list" class="screen active">
    <div class="screen-title">ステップカード一覧</div>

    {# カード1件以上なら一覧＋右上の新規作成 #}
    {% if cards %}
        <div class="toolbar" id="toolbar">
            <a class="link-button" href="{{ url_for('step_card.create_card') }}"> 新規作成 </a>
        </div>

        <div id="card_list" class="card-list">
            {% for card in cards %}
                <div class="card-item">
                    <h3 class="card-title">{{ card.title }}</h3>
                    {# 作成日はmodels.pyで作成しているcreated_atデータベースをstep_card.pyでコミットした瞬間に自動で時間の表記がされる #}
                    <p>作成日: {{ card.created_at.strftime('%Y-%m-%d %H:%M') if card.created_at }}</p>
                    <p>エラーコード: {{ card.error_code | default('') }}</p>
                    <div class="card-actions">
                        <a href="{{ url_for('step_card.detail_card', card_id=card.card_id) }}" class="btn-detail">詳細</a>
                        {% if card.status == STATUS_PUBLIC %}
                            <form method="post"
                                action="{{ url_for('step_card.do_unshare', card_id=card.card_id) }}"
                                style="display:inline;">
                            <button type="submit" class="btn-share btn-danger">共有解除</button>
                            </form>
                        {% else %}
                            <a href="{{ url_for('step_card.confirm_share', card_id=card.card_id) }}" class="btn-share">共有</a>
                        {% endif %}
                    </div>
                </div>
            {% endfor %}
        </div>


    {# 0件なら真ん中の新規作成だけ #}
    {% else %}
        <div id="empty_area" class="empty-message">
        <p style="color: #e53935;">ステップカードが作られていません</p>
        <a class="link-button"
            href="{{ url_for('step_card.create_card') }}">
            新規作成
        </a>
        </div>
    {% endif %}
    </section>
    {% endblock %}
