    {% extends "base.html" %}

    {% block title %}編集完了 | ErrorMate{% endblock %}

    {% block extra_css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/stepcard.css') }}">
    {% endblock %}

    {% block content %}
    <section class="screen active">
    <div class="complete-box">
        <p class="complete-message">編集完了！</p>
        <a href="{{ url_for('step_card.list_cards') }}" class="link-button">
        一覧に戻る
        </a>
    </div>
    </section>
    {% endblock %}
