{% extends "base.html" %}
{% set header_theme = "header-card" %}
{% block title %}カードライブラリ - ErrorMate{% endblock %}

{% block content %}
<div class="container mt-5" style="max-width: 1000px;">
  
    <div class="row g-4">
      <div class="col-12 col-md-6">
        <a href="{{ url_for('share.share_step_card_list') }}" class="menu-card yellow">
          <span class="btn-text mb-2 fw-bold fs-5">ステップカード</span>
          <i class="fa-solid fa-4x"></i>
        </a>
      </div>
      <div class="col-12 col-md-6">
        <a href="{{ url_for('share.share_help_card_list') }}" class="menu-card blue">
          <span class="btn-text mb-2 fw-bold fs-5">ヘルプカード</span>
          <i class="fa-solid fa-4x"></i>
        </a>
      </div>
      
    </div>
</div>
{% endblock %}